/**
 * @file
 * Main stylesheet file.
 */

/* Base + mobile style */
.hero-section {
  position: relative;
  text-align: center;

  width: 100%;
  overflow: hidden;
}

.hero-section img {
  width: 100%;
  height: auto;
}

.hero-section h1 {
  font-size: 1.5rem;
}

.text-overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0% 10%;

  text-align: left;

  color: #000000;
}

.row-section {
  margin-top: 20px;
}

.dev-outline {
  border: 1px dotted red;
}

.section-header {
  border-bottom: 1px solid #000000;

  font-size: 1.5rem;
}

.bottom-spacer {
  margin-bottom: 200px;
}


/* Add your mobile and base CSS here */

/* Above med breakpoint */
@media (min-width: 768px) {

  /* Add your desktop CSS here */
  .hero-section {
    height: 80vh;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .row-section {
    margin-top: 50px;
  }

  .section-header {
    font-size: 2.0rem;
  }
}