{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/exercise.css" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col hero-section justify-content-center align-items-middle">
      <div class="hero-section">
        <img src="/static/img/splash.jpg">
        <div class="text-overlay">
          <!-- Feel free to change this -->
          <h1>Move me to the left!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- For reference. You may delete. -->
    <div class="row row-section">
      <div class="col">
        <div class="section-header">
          Sritha Bhupatiraju
        </div>
      </div>
    </div>
      <div class="col-md-6 dev-outline">

        Srithabhupatiraju23@mittymonarch.com
      </div>
      <div class="col-md-6 dev-outline">
        San Jose
      </div>
    </div>

    <!-- Add your own content below -->
  </div>

  <div class="bottom-spacer">
  </div>
{% endblock %}