{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/splash.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>I Make Stuff</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Sritha Bhupatiraju
          </div>
          <div class="col-sm-4 text-pad">
            srithabhupatiraju23@mittymonarch.com
          </div>
          <div class="col-sm-4 text-pad">
            San Jose, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about coding, speech and debate, sports, and being a team player.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Archbishop Mitty Robotics
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Worked in the Outreach and Business Department</p>
              <p>Worked in the Programming Department</p>
              <ul>
                <li class="main-li">Organized the AMHS diversity training program</li>
                <li class="main-li">Mentored incoming freshmen</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Archbishop Mitty Varsity Speech and Debate
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>One of seven HS students awarded Martin Luther King Jr Invitational Finalist</p>
              <p>Spoke out about online abuse at several invitationals across the country.</p>
              <ul>
                <li class="main-li">Competed at both the Harvard and UC Berkeley Speech and Debate Invitationals</li>
                <li class="main-li">Awarded Gabrielino High School and Presentation High School Invitational’s
                  Tournament Champion.</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Dance Instructor
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2018 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Instructed for the Jeena Foundation, a "self-help" group for students with developmental disabilties</p>
                <li class="main-li">Worked with countless adults, teens and children and instructed them in the art of dance</li>
                <li class="main-li">Helped numerous disabled and underprivileged individuals find their passion. </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Volunteered at the Morgan Autism Center
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - Dec 2019
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Worked to aid students diagnosed with autism</p>
              <p>Assited with day to day activities and instructed teens diagnosed with autism with basic communication skills</p>
              <ul>

              </ul>
            </div>
          </div>
        </div>
        
        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              FEM Club Media Coordinator
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Working as the Media Coordinator for my highschool's female empowerment club</p>
              <ul>
                <li class="main-li">Organized weekly meetings</li>
                <li class="sub-li">Designed and edited all content</li>
                <li class="sub-li">Focused on advertisement and communication</li>
                <li class="main-li">Led the AMHS Fem Club media campaign</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Martin Luther KIng Jr. Invitational Speech Finalist 2021
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              National Speech and Debate Association
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              Certification
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              What this certification is about
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Collegeboard Honor Society 2019-2020
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Highschool Honor Student 
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-1.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">This is a title</h3>
            <p class="content-text">This is a short description</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-2.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">This is a title</h3>
            <p class="content-text">This is a short description</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-3.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">This is a title</h3>
            <p class="content-text">This is a short description</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">me@gmail.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/myprofile</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@myhandle</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/myprofile</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}