<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>My Site</title>
  <meta name="description" content="Your description">
  <meta name="author" content="Your Name">

  <!-- styles -->
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
  <!-- /styles -->

  <!-- scripts -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write(
      '<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')
  </script>
  <script type="text/javascript" src="/static/js/bootstrap.js" defer></script>
  <!-- /scripts -->

</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Main Body -->
  <main>
    <!-- If you want edge-to-edge, don't use container -->
    <div class="row">
      <div class="col hero-section justify-content-center align-items-middle">
        <div class="hero-section">
          <img src="/static/img/splash.jpg">
          <div class="text-overlay">
            <!-- Feel free to change this -->
            <h1>Welcome to my Site!</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- For reference. You may delete. -->
      <div class="row row-section">
        <div class="col">
          <div class="section-header">
            Sample Header
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 dev-outline">
          Sample Column 1
        </div>
        <div class="col-md-6 dev-outline">
          Sample Column 2
        </div>
      </div>

      <!-- Add your own content below -->
    </div>
  </main>
</body>

</html>